**/__pycache__/**
src/**.egg-info/**
**/drivers/**
# **/drivers/chrome-linux64/**
# **/drivers/chromedriver-linux64/**
**/src/resources/service-account-key.json
**/example/notebooks/**
**/api/**
**/docs/**.bkp
**/.DS_Store